version: "2"
services:
  back-end:
    build: .
    container_name: back-end
    ports:
      - "5000:5000"
    volumes:
      - .:/app
      - /app/node_modules
      # - ./uploads:/app/uploads
    depends_on:
      - postgres
  postgres:
    build:
      context: .
      dockerfile: dockerfile-postgres
    container_name: postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata: